# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Optional: trained models (if too large, otherwise include)
# diabetes_model.pkl
# metrics.pkl
